@{
    ViewData["Title"] = "Car Rental";
}

<div class="text-center">
    <h1 class="display-4">Car Rental</h1>
    <p>This company is going to try to achieve renting easy.Some company ask for a lot of questions or some wont 
        allow you to rent a vehicle.We also have brand new cars of all shape and sizes to suit your needs.</p>
    <p>
        With a fleet of some of the best rental cars in NZ, pop onto the vehicles page and check out our 
        range of modern rental cars, including the Toyota hilux and Mitsubishi Triton Canopy, Mazda Demio, Holden Trax, and Toyota Aqua.
    </p>
    
</div>

