@{
    ViewData["Title"] = "Car Rental";
}

<div class="text-center">
    <h1 class="display-4">Car Rental</h1>
    <p>This company is going to try to achieve renting easy. Some company ask for a lot of questions or some wont allow you to rent a vehicle. We also have brand new cars of all shape and sizes to suit your needs.</p>
    <p>With a fleet of some of the best rental cars in NZ, pop onto the vehicles page and check out our range of modern rental cars, including the Toyota Hilux and Mitsubishi Triton Canopy, Mazda Demio, Holden Trax, and Toyota Aqua.</p>
</div>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Display Example</title>
    <style>
        /* CSS to move the image */
        .image-move {
            position: relative;
            left: -30px; /* Move left */
            top: 20px; /* Move down */
            /* Adjust these values to move the image as needed */
        }
    </style>
</head>

<body>
    <a class="nav-link text-light" asp-area="" asp-controller="Rentals" asp-action="Index">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmg0Eky-gEbiQgR9GkhIdn_JJE0rZ1d03wvQ&s" alt="A description of the remote image" width="350" height="250" class="image-move">
    </a>
</body>

